<div style="min-height: 492px;">
  <mat-tab-group [animationDuration]="0">
    <mat-tab label="Draw">
      <google-map
          #googleMap
          width="100%"
          height="400px"
          (mapClick)="onMapClick($event)"
          (zoomChanged)="onZoomChange()"
          (centerChanged)="onCenterChange()"
          [options]="options">
        <span *ngIf="selectedPolygon > -1">
          <map-marker
            *ngFor="let coord of multipolygon.polygons[selectedPolygon].boundary; index as i;"
            [position]="coord"
            [clickable]="true"
            (mapClick)="onOuterPolygonPointClick(i)">
          </map-marker>
        </span>
        <map-polygon
          *ngFor="let polygon of multipolygon.polygons; index as i"
          [paths]="polygon.path"
          [options]="polygonOptions"
          (polygonClick)="onOuterPolygonClick(i, $event)">
        </map-polygon>
      </google-map>
      <div style="padding-top: 8px;" fxLayout="row" class="button-row">
        <div *ngIf="mode === DrawBoundaryMode.Select; else drawingToolbar">
          <button mat-button (click)="drawBoundaryMode()">New Shape</button>
          <button mat-button [disabled]="this.selectedPolygon < 0" (click)="mode = DrawBoundaryMode.Boundary">Edit</button>
          <button mat-button [disabled]="true || selectedPolygon < 0" (click)="mode = DrawBoundaryMode.Hole">Hole</button>
        </div>
        <ng-template #drawingToolbar>
          <button mat-button (click)="mode = DrawBoundaryMode.Select">Done</button>
        </ng-template>
        <div class="h-fill"></div>
        <button mat-button color="warn" (click)="clearPolygons()">Clear</button>
      </div>
    </mat-tab>
    <mat-tab label="Data">
      <div class="resource-page">
        <app-wkt-clipboard disabled="true" [(wkt)]="wkt"></app-wkt-clipboard>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
