<div *ngIf="!!farmer; else loadingIndicator">
  <div class="resource-form">
    <div fxLayout="column" fxLayoutGap="24px">
      <div class="button-row" fxLayout="row">
        <button mat-stroked-button routerLink="..">Farmers</button>
      </div>
      <div>
        <h1><span>{{ farmer.attributes.name }}</span></h1>
        <mat-divider></mat-divider>
      </div>
      <div>
        <div fxLayoutGap="24px" fxLayout.gt-xs="row" fxLayout.xs="column">
          <div fxFlex.xs="auto" fxFlex.gt-xs="50">
            <p>Fields: <span>{{ farmer.meta.fieldCount }}</span></p>
            <p>Plantings: <span>0</span></p>
            <p>Licensors: <span>0</span></p>
          </div>
          <div fxFlex.xs="auto" fxFlex.gt-xs="50">
            <google-map width="100%" height="300px"></google-map>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <mat-tab-group dynamicHeight="true">
      <mat-tab label="Fields">
        <app-resource-table-route-binding
          [tableConfig]="fieldTableConfig"
          [apiService]="fieldApi"
          [updateQuery]="false"
          [scope]="scope"></app-resource-table-route-binding>
      </mat-tab>
      <mat-tab label="Plantings">
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<ng-template #loadingIndicator>
  <div style="width: 100%;">
    <mat-spinner style="margin: 48px auto"></mat-spinner>
  </div>
</ng-template>
