<div *ngIf="!!farmer; else loadingIndicator">
  <div class="resource-page">
    <div fxLayout="column" fxLayoutGap="24px">
      <div class="button-row" fxLayout="row">
        <button mat-stroked-button routerLink="..">All Farmers</button>
      </div>
      <div>
        <h1><span>{{ farmer.attributes.name }}</span></h1>
        <mat-divider></mat-divider>
      </div>
      <div>
        <div fxLayoutGap="24px" fxLayout.gt-xs="row" fxLayout.xs="column">
          <div fxFlex.xs="auto" fxFlex.gt-xs="50">
            <div fxLayout="column">
              <h2>Summary</h2>
              <div>Fields: <span>{{ farmer.meta.fieldsCount }}</span></div>
              <div>Plantings: <span>0</span></div>
              <div>Licensors: <span>0</span></div>
            </div>
          </div>
          <div fxFlex.xs="auto" fxFlex.gt-xs="50">
            <google-map width="100%" height="300px"></google-map>
          </div>
        </div>
      </div>
      <div>
        <mat-tab-group dynamicHeight="true">
          <mat-tab label="Fields">
            <app-resource-table-no-binding
              [tableConfig]="fieldTableConfig"
              [apiService]="fieldApi"
              [updateQuery]="false"
              [scope]="scope"></app-resource-table-no-binding>
          </mat-tab>
          <mat-tab label="Plantings">
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingIndicator>
  <div style="width: 100%;">
    <mat-spinner color="accent" style="margin: 96px auto"></mat-spinner>
  </div>
</ng-template>
