<div class="filter-catalog"> <!-- *ngIf="useBuilder; else customExpression" -->
  <mat-horizontal-stepper #catalogStepper linear="true">
    <mat-step>
      <ng-template matStepLabel>Attribute</ng-template>
      <mat-accordion displayMode="flat" class="mat-elevation-z0">
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header expandedHeight="48px">
            <mat-panel-title style="font-size: 1.2rem;">Data</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <mat-selection-list multiple="false" (selectionChange)="onDimensionChange($event)">
              <mat-list-option
                  #option
                  *ngFor="let attribute of attributes"
                  [value]="attribute.key"
                  (click)="catalogStepper.next()"
                  checkboxPosition="before">
                <mat-icon
                    style="opacity: 0.8"
                    mat-list-icon
                    color="accent">
                  <span *ngIf="attribute.foreignKey">vpn_key</span>
                </mat-icon>
                <mat-icon
                  style="opacity: 0.5"
                  mat-list-icon
                  [svgIcon]="attributeIconName(attribute)">
                </mat-icon>
                {{ attribute.label }}
              </mat-list-option>
            </mat-selection-list>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="false" class="mat-elevation-z0" *ngFor="let relationship of relationships">
          <mat-expansion-panel-header expandedHeight="48px">
            <mat-panel-title style="font-size: 1.2rem;">{{ relationship.label }}</mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <mat-selection-list>
            </mat-selection-list>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Operator</ng-template>
      <mat-selection-list multiple="false" (selectionChange)="onOperatorChange($event)">
        <mat-list-option
            *ngFor="let operator of operators"
            [value]="operator.option"
            (click)="catalogStepper.next()"
            checkboxPosition="before">
          {{ operator.title }}
        </mat-list-option>
      </mat-selection-list>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Value</ng-template>
      <ng-template filterCatalogValue></ng-template>
      <button [disabled]="!valueBuilder?.valid" mat-stroked-button color="accent" (click)="onClickApply()">Apply</button>
      <br>
    </mat-step>
  </mat-horizontal-stepper>
</div>
