<div class="resource-list">
  <div class="button-row-container button-row">
    <button mat-stroked-button routerLink="new">New</button>
    <button mat-stroked-button [matMenuTriggerFor]="actionsMenu">Actions</button>
    <mat-menu #actionsMenu="matMenu">
      <button mat-menu-item>Edit</button>
      <button mat-menu-item class="warn-color">Delete</button>
    </mat-menu>
  </div>
  <app-resource-table-route-binding
    [tableConfig]="tableConfig"
    [scope]="scope"
    [apiService]="fieldApi"></app-resource-table-route-binding>
</div>
