<div fxLayout="column" style="width: 100%; height: 100%; overflow-x: auto;">
  <div fxFlex="0 1 em" class="filter-chips">
    <mat-chip-list aria-label="Filters">
      <mat-chip>
        Name like ACME, Inc
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-chip>
        Location within 5 mi of <mat-icon svgIcon="map-marker"></mat-icon>
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-chip>
        Area < 100
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-chip>
        Name like ACME, Inc
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-chip>
        Location within 5 mi of <mat-icon svgIcon="map-marker"></mat-icon>
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-chip>
        Area < 100
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-chip>
        Name like ACME, Inc
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-chip>
        Location within 5 mi of <mat-icon svgIcon="map-marker"></mat-icon>
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-chip>
        Area < 100
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-chip>
        Name like ACME, Inc
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-chip>
        Location within 5 mi of <mat-icon svgIcon="map-marker"></mat-icon>
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <mat-chip>
        Area < 100
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div fxFlex="0 1 auto">
    <div [fxLayout.xs]="'column'" [fxLayout.gt-xs]="'row'">
      <mat-chip-list fxLayout="row-reverse" fxFlex style="margin: auto 8px;" aria-label="Add filter">
        <mat-chip color="accent" selected>Add filter</mat-chip>
      </mat-chip-list>
      <mat-paginator fxFlex (page)="onPageChange($event)" [hidePageSize]="true" [pageIndex]="1" [length]="1000" [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  <div fxFlex="auto" style="overflow-y: auto;">
    <table style="table-layout: fixed;" mat-table [dataSource]="rows">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? addToSelection(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container *ngFor="let column of tableConfig.columns | keyvalue" [matColumnDef]="column.key">
        <th
            class="text-no-select resource-table-header"
            mat-header-cell
            *matHeaderCellDef>
          <div style="position: relative;">
            <div class="resize-area" style="width: 200px;" touchResizeable pointerResizeable>
              <div
                  style="padding-right: 4px;"
                  [mat-sort-header]="column.key"
                  matSort
                  [arrowPosition]="'after'"
                  [matSortDirection]="'asc'"
                  [matSortActive]="column.key"
                  (matSortChange)="onSort($event)">
                {{ column.value.title }}
              </div>
            </div>
          </div>
        </th>
        <td style="padding: 0px 12px 0px 12px;" mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableConfig.displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: tableConfig.displayedColumns;"></tr>
    </table>
  </div>
  <div fxFlex="0 1 auto">
    <mat-paginator (page)="onPageChange($event)" [pageIndex]="1" [length]="1000" [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
