.resource-table {
  height: 100%;
}

.ngx-datatable {
  height: 100%;
  width: 100%;
  box-shadow: none;
}

.filter-chips {
  padding: 8px;
}

.filter-icon {
  font-size: 12px !important;
  vertical-align: middle;
  opacity: 0.35;
  margin-bottom: 2px;
}

.filter-icon:hover {
  opacity: 1;
  cursor: pointer;
}

.footer-widgets-row {
  height: 100%;
  line-height: 34px;
  vertical-align: middle;
}

.footer-widget {
  padding: 0px 6px 0px 6px;
}
