<div fxLayout="column" style="width: 100%; height: 100%; overflow-x: auto;">
  <div fxFlex="0 1 em" class="filter-chips">
    <mat-chip-list aria-label="Filters" *ngIf="humanizedFilters?.length > 0">
      <mat-chip *ngFor="let filter of humanizedFilters; index as idx;">
        {{ filter.humanized }}
        <mat-icon matChipRemove (click)="removeFilter(filter)">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div fxFlex="0 1 auto">
    <div [fxLayout.lt-w500]="'column'" [fxLayout.gt-w500]="'row'">
      <mat-chip-list [fxLayout.lt-w500]="'row-reverse'" [fxLayout.gt-w500]="'row'" style="min-height: 48px; margin: 0 12px;" aria-label="Add filter">
        <mat-chip
            (click)="openFilterCatalogDialog()"
            color="accent"
            selectable="false"
            selected
            tabindex="-1">
          Add filter
        </mat-chip>
      </mat-chip-list>
      <mat-paginator fxFlex="1 0 auto" (page)="onPageChange($event)" [hidePageSize]="true" [pageIndex]="page.offset" [pageSize]="page.limit" [length]="page.total" [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
  <div fxFlex="auto" style="overflow-y: auto;">
    <table class="resource-table" style="table-layout: fixed;" mat-table [dataSource]="loading ? [] : rows">
      <ng-container matColumnDef="select">
        <th class="resource-table-header" mat-header-cell *matHeaderCellDef>
          <mat-checkbox [disableRipple]="true"
                        (click)="$event.stopPropagation()"
                        (change)="masterToggle()"
                        [checked]="selection.size !== 0"
                        [indeterminate]="selection.size !== 0 && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox [disableRipple]="true"
                        (click)="$event.stopPropagation()"
                        (change)="toggleSelection(row)"
                        [checked]="selection.has(row.id)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container *ngFor="let column of tableConfig.columns | keyvalue" [matColumnDef]="column.key">
        <th
            class="text-no-select resource-table-header"
            mat-header-cell
            *matHeaderCellDef>
          <div style="position: relative;">
            <div class="resize-area" style="width: 200px;" touchResizeable pointerResizeable>
              <div
                  style="padding-right: 4px;"
                  [mat-sort-header]="column.key"
                  matSort
                  [arrowPosition]="'after'"
                  [matSortDirection]=""
                  [matSortActive]="column.key"
                  (matSortChange)="onSort($event)">
                {{ column.value.title }}
              </div>
            </div>
          </div>
        </th>
        <td class="resource-table-cell" mat-cell *matCellDef="let row">
          <app-resource-table-cell
            [row]="row"
            [value]="column.value.value"
            [display]="column.value.display">
          </app-resource-table-cell>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableConfig.displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: tableConfig.displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="loading" style="padding-top: 48px;" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner indeterminate color="accent"></mat-spinner>
  </div>
  <div fxFlex="0 1 auto">
    <mat-paginator (page)="onPageChange($event)" [pageIndex]="page.offset" [pageSize]="page.limit" [length]="page.total" [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
