<div class="resource-table-cell" *ngIf="display.type === 'text'">
  {{ raw }}
</div>

<div class="resource-table-cell" *ngIf="display.type === 'format'">
  {{ formatted }}
</div>

<div class="resource-table-cell" *ngIf="display.type === 'fieldArea'">
  <app-area-display [unit]="display.unit" (unitChange)="onUnitChange($event)"[area]="raw" [format]="this.display.format"></app-area-display>
</div>

<div *ngIf="display.type === 'link'">
  <a class="mat-body-2" [routerLink]="routerLink" [queryParams]="queryParams">
    <app-resource-table-cell
      [row]="row"
      [value]="display.label"
      [display]="{ type: 'text' }">
    </app-resource-table-cell>
  </a>
</div>
