<mat-toolbar color="primary" class="app-toolbar">
  <mat-toolbar-row>
   <button mat-icon-button aria-label="Menu">
      <mat-icon (click)="sideNav.toggle()">menu</mat-icon>
    </button>
    <div class="brand-logo">
      <img src="assets/logo.png" height="100%">
    </div>
    <div class="h-fill"></div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="router-container">
  <mat-sidenav-container style="width: 100%; height: 100%;">
    <mat-sidenav
        [style.flex]="ltMdQuery.matches ? '1 0 auto' : '1'"
        autoFocus="false"
        class="side-nav"
        #sideNav
        [mode]="ltMdQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="ltMdQuery.matches"
        [fixedTopGap]="mobileQuery.matches ? 56 : 64">
      <div style="padding: 8px;">
        <mat-card style="margin-bottom: 8px;">
          On touch-screen devices, you can resize a column by tapping and sliding on the header.
        </mat-card>
        <mat-accordion multi>
          <mat-expansion-panel *ngFor="let section of topbarConfig.sections">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ section.title }}
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a
                *ngFor="let button of section.buttons"
                mat-list-item
                (click)="sideNav.close()"
                [routerLink]="button.routerLink">{{ button.label }}</a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="router-outlet-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
