.brand-logo {
  vertical-align: baseline;
  height: 100%;
}

.side-nav {
  min-width: 140px;
  max-width: 300px;
}

.router-container {
}

/* The drawer container has an off-white background for some reason. A full
 * size div is put behind the outlet with a white background in case the
 * routed component doesn't fill the available space.
 */
.router-outlet-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* Topbar is 56px height on small screens. */
@media screen and (max-width: 599px) {
 .router-container {
   top: 56px;
 }
}
