.brand-logo {
  vertical-align: baseline;
  padding: 0 4px;
  height: 100%;
}

.side-nav {
  min-width: 300px;
  max-width: 300px;
  width: 300px;
}

.sidenav-content {
  padding: 8px;
}

.router-container {
  width: 100%;
  height: 100%;
}

.router-outlet-container {
  height: 100%;
}

.sidenav-container {
  position: inherit;
  /* TODO: On Chrome mobile browser, apply the below min-height style to
   * allow pull-down-to-refresh regardless of content height. It's a handy
   * feature.
   */
  // min-height: calc(100% + 1px);
}

/* Topbar is 56px height on small screens. */
@media screen and (max-width: 599px) {
 .router-container {
   top: 56px;
 }
}
