.brand-logo {
  vertical-align: baseline;
  height: 100%;
}

.side-nav {
  min-width: 140px;
  max-width: 300px;
}

/* TODO: On Safari iOS, set overflow to 'hidden' when sidenav is open to
 * prevent momentum scrolling on the content. If you attempt to scroll the
 * content behind the backdrop, a ~1 "bounce" animation is played, and if
 * you don't wait for the animation to complete, the sidenav will not respond
 * to scroll gestures, even if the gesture targets the sidenav itself. This
 * causes a frustrating loop that a user might get stuck in and makes the
 * experience feel buggy.
 */
.router-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.sidenav-container {
  position: inherit;
}

/* Topbar is 56px height on small screens. */
@media screen and (max-width: 599px) {
 .router-container {
   top: 56px;
 }
}
