<div class="router-container theme-container" [class.theme-alternate]="darkMode.checked">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        [style.flex]="ltMdQuery.matches ? '1 0 auto' : '1'"
        autoFocus="false"
        class="side-nav"
        #sideNav
        [mode]="ltMdQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="true"
        [fixedBottomGap]="0"
        [fixedTopGap]="0">
      <span *ngIf="ltMdQuery.matches">
        <mat-toolbar color="primary">
          <button mat-button (click)="sideNav.close()">Close</button>
        </mat-toolbar>
      </span>
      <div style="padding: 8px;">
        <mat-card style="margin-bottom: 8px;">
          On touch-screen devices, you can resize a column by tapping and sliding on the header.
        </mat-card>
        <mat-card style="margin-bottom: 8px;">
          On a computer, you can resize a column by hovering over the right side of the header. When your cursor changes to a horizontal arrow, click and drag to increase or decrease the width.
        </mat-card>
        <mat-accordion multi>
          <mat-expansion-panel #sideNavPanel (afterExpand)="scrollToMenuPanel(idx)" *ngFor="let section of topbarConfig.sections; index as idx">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="text-no-select">
                  {{ section.title }}
                </span>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a
                *ngFor="let button of section.buttons"
                [disableRipple]="true"
                mat-list-item
                (click)="sideNav.close()"
                [routerLink]="button.routerLink">{{ button.label }}</a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-sidenav>

    <mat-sidenav-content style="height: 100%;">
      <mat-toolbar color="primary" class="app-toolbar">
        <mat-toolbar-row>
         <button mat-icon-button aria-label="Menu" (click)="sideNav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="brand-logo text-no-select">
            <img src="assets/logo.png" height="100%">
          </div>
          <div class="h-fill"></div>
          <mat-slide-toggle color="accent" #darkMode matTooltip="Toggle dark mode">
            <mat-icon
              style="vertical-align: middle; padding-left: 8px;"
              [color]="darkMode.checked ? 'accent' : 'light'"
              svgIcon="moon-waning-crescent">
            </mat-icon>
          </mat-slide-toggle>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="router-outlet-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
