<div *ngIf="!!licensor; else loadingIndicator">
  <div class="resource-page">
    <div fxLayout="column" fxLayoutGap="24px">
      <div class="button-row" fxLayout="row">
        <button mat-stroked-button routerLink="..">All Licensors</button>
      </div>
      <div>
        <h1><span>{{ licensor.attributes.name }}</span></h1>
        <mat-divider></mat-divider>
      </div>
      <div>
        <div fxLayoutGap="24px" fxLayout="row">
          <div fxFlex.xs="35" fxFlex.gt-xs="50">
            <div fxLayout="row" fxLayoutAlign="space-around">
              <img class="licensor-logo" src="./assets/licensor.webp">
            </div>
          </div>
          <div fxFlex.xs="65" fxFlex.gt-xs="50">
            <div fxLayout="column" fxLayoutGap="24px" fxLayoutAlign="center">
              <div fxLayout="column">
                <h2>Summary</h2>
                <div>Plant Varieties: <span>0</span></div>
                <div>Licensees: <span>0</span></div>
                <div>Total Active Plantings: <span>0</span></div>
                <div>Total Acres: <span>0</span></div>
                <div>Est. Total Plants: <span>0</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap="24px">
        <div fxFlex.gt-xs="50">
          <div fxLayout="column">
            <h2>People</h2>
            <div fxLayout="row column" fxLayoutAlign.gt-xs="start start" fxLayoutAlign.xs="center">
              <img class="people-avatar" width="100px" src="./assets/licensor.webp">
              <img class="people-avatar" width="100px" src="./assets/licensor.webp">
              <img class="people-avatar" width="100px" src="./assets/licensor.webp">
              <img class="people-avatar" width="100px" src="./assets/licensor.webp">
              <img class="people-avatar" width="100px" src="./assets/licensor.webp">
              <img class="people-avatar" width="100px" src="./assets/licensor.webp">
            </div>
          </div>
        </div>
        <div fxFlex.gt-xs="50">
          <h2>About</h2>
          <p style="white-space: pre-wrap;">{{ about }}</p>
        </div>
      </div>
      <div>
        <mat-tab-group dynamicHeight="true">
          <mat-tab label="Licensees">
          </mat-tab>
          <mat-tab label="Planting Varieties">
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingIndicator>
  <div style="width: 100%;">
    <mat-spinner color="accent" style="margin: 96px auto"></mat-spinner>
  </div>
</ng-template>
