th {
  touch-action: none;
}

::ng-deep .mat-sort-header-button {
  text-align: left;
}

.filter-chips {
  padding: 8px;
}

th.mat-sort-header-sorted {
  color: black;
}

.resize-handle {
  position: absolute;
  right: -15px;
  top: 0;
  bottom: 0;
  width: 5px;
  padding: 0 4px;
  border-left: 1px solid grey;
}

.resize-handle {
  cursor: ew-resize;
}
