<form style="width: 100%;" [formGroup]="fieldFormGroup">
  <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="24px" class="resource-form-row">
    <div
        fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="start"
        fxLayoutGap.gt-xs="24px"
        fxLayout.xs="column">
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" name="name" formControlName="name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Farmer</mat-label>
          <mat-select name="farmerId" formControlName="farmerId">
            <mat-option
                *ngFor="let farmer of farmers"
                [value]="farmer.id">
              {{ farmer.attributes.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="auto">
      <app-draw-boundary name="boundary" formControlName="boundary"></app-draw-boundary>
    </div>
  </div>
</form>
