@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
  display-1: mat-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
  title: mat-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    #ffffff;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#2c2c2c, 20%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #2c2c2c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config

body {
  --primary-color: #3a504c;
  --primary-lighter-color: #bccab7;
  --primary-darker-color: #123508;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

$mat-primary: (
  main: #3a504c,
  lighter: #bccab7,
  darker: #123508,
  200: #3a504c, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #f5903d;
  --accent-lighter-color: #fcdec5;
  --accent-darker-color: #f07327;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$dark-primary-text};
}

$mat-accent: (
  main: #f5903d,
  lighter: #fcdec5,
  darker: #f07327,
  200: #f5903d, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #ff6a6a;
  --warn-lighter-color: #ffd2d2;
  --warn-darker-color: #ff4d4d;
  --text-warn-color: #{$dark-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$dark-primary-text};
}

$mat-warn: (
  main: #ff6a6a,
  lighter: #ffd2d2,
  darker: #ff4d4d,
  200: #ff6a6a, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);;

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
/* Applied to certain components in dark mode to make them a bit more visible
 * and user-friendly.
 */
$altThemeAccent: mat-dark-theme($theme-accent, $theme-accent, $theme-warn);

.primary-color {
  color: mat-color($theme-primary) !important;
}

.warn-color {
  color: mat-color($theme-warn) !important;
}

.accent-color {
  color: mat-color($theme-accent) !important;
}

@include angular-material-theme($theme);

.resource-table a {
  color: mat-color(map-get($theme, primary));
}

.theme-container {
  background-color: $light-text;
}

.theme-alternate {
  @include angular-material-theme($altTheme);

  /* In dark mode, use accent-only theme to maximize visibility of labels,
   * etc.
   */
  .resource-form-widget {
    @include angular-material-theme($altThemeAccent);
  }

  .resource-table a {
    color: mat-color(map-get($altTheme, accent));
  }

  /* For some reason, a light backdrop is used for open drawers with the
   * 'over' configuration . This darkens it to be easy on the eyes, as
   * expected with a dark theme.
   */
  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(40, 40, 40, 0.6);
  }

  .theme-container,
  &.theme-container {
    background-color: $dark-bg-lighter-5;
  }
}

.mat-drawer-backdrop.mat-drawer-shown {
  -webkit-overflow-scrolling: touch;
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

/* No need to select this text, and doesn't cause text highlighting on
 * touch screen devices when long tapping.
 */
.mat-paginator-range-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';
  .mat-badge-content {
    font-family: 'Roboto';
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 959px) {
  body.lt-md-no-overflow {
    overflow: hidden;
  }
}

.text-no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Center the pager since the footer will be organized into two rows when
 * viewing on small screens.
 */
@media screen and (max-width: 599px) {
  .ngx-datatable .datatable-footer .datatable-pager,
  .ngx-datatable .pager {
    text-align: center !important;
  }
}

.ngx-datatable .datatable-pager {
  margin: 0px !important;
}

.ngx-datatable .datatable-footer .datatable-pager {
  height: 100%;
}

.ngx-datatable .pager {
  vertical-align: middle;
}

.h-fill {
  flex: 1 0 auto;
}

/* Tweak the padding of datatable cells to make the table more compact; helps
 * display more data on smaller displays.
 */
.resource-table datatable-body-cell,
.resource-table datatable-header-cell {
  padding: 6px 10px 6px 10px !important;
}

/* Keep checkboxes from hugging left edge; makes it easier to hit checkboxes
 * on small touch screens.
 */
.resource-table datatable-body-row,
.resource-table datatable-header {
  padding-left: 4px;
}

/* Hide the pesky ripple indicator behind checkboxes in resource tables. */
.resource-table .mat-checkbox .mat-checkbox-ripple.mat-focus-indicator {
  display: none;
}

a {
  text-decoration: none;
}

.pseudo-link {
  cursor: pointer;
}

.button-row {
  display: table-cell;
  padding: 8px;
}

@media only screen and (max-width: 599px) {
  .resource-form {
    margin: 16px;
  }
}

@media only screen and (max-width: 1007px) and (min-width: 600px) {
  .resource-form {
    margin: 24px;
  }
}

@media only screen and (min-width: 1008px) {
  .resource-form {
    max-width: 960px;
    margin: 24px auto;
  }
}

.resource-form-row .resource-form-widget:not(:last-child) {
  margin-right: 16px;
}

.button-row button:not(:last-child) {
  display: table-cell;
  margin-right: 8px;
}

.mat-form-field {
  letter-spacing: normal;
}
