.site-banner {
  position: relative;
  background-size: cover;
  background-position: center bottom;
  // Re background-image: see style.scss
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.site-banner-description {
  position: absolute;
  right: 64px;
  bottom: 64px;
  width: 400px;
  color: white;
  font-family: roboto;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-align: left;
}

.mission-statement {
  padding: 64px 0 24px 0px;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  text-align: left;
}

.abstract-statement {
  font-size: 18px;
  line-height: 23px;
  padding: 12px 0;
}

.resource-banner-container:hover {
  .resource-banner:not(:hover) {
    filter: brightness(50%);
    transition: 0.4s;
  }
}

.resource-banner {
  position: relative;
  height: 150px;
  filter: brightness(100%);
  transition: 0.4s;
}

::ng-deep .resource-banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
  animation: fadein 1.5s;
  border-radius: 6px;
}

.resource-banner-title {
  color: white;
  font-family: roboto;
  font-size: 42px;
  line-height: 42px;
  position: absolute;
  bottom: 16px;
  left: 12px;
}

@media screen and (max-width: 599px) {
  .site-banner {
    height: 300px;
  }

  .resource-banner {
    height: 85px;
  }

  .resource-banner-title {
    bottom: 4px;
    left: 6px;
  }

  .resource-banner-title {
    font-size: 32px;
    line-height: 32px;
  }

  .mission-statement {
    padding: 16px 0;
    text-align: left;
    font-size: 24px;
    line-height: 31px;
  }

  .abstract-statement {
    padding: 0;
    font-size: 16px;
    line-height: 21px;
  }

  .site-banner-description {
    left: 0px;
    bottom: 0px;
    padding: 32px;
    font-size: 24px;
    line-height: 24px;
    width: auto;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
