<div fxLayout="column">
  <div class="site-banner">
    <div class="site-banner-description">
      <p>
        A powerful and efficient platform for managing operations in the
        complex world of modern agriculture.
      </p>
      <!-- Until user & auth implementation
      <p *ngIf="false">
        <button mat-stroked-button style="border-color: white;">Get started &rarr;</button>
      </p>
       -->
    </div>
    <video
        class="background-video"
        loop
        autoplay
        playsinline
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
        muted="true">
      <source src="./assets/hero.mp4" type="video/mp4">
    </video>
  </div>
  <div class="content">
    <div fxLayout="column" fxLayoutGap="24px">
      <div class="mission-statement">
        Kaprella's mission is to bring the best tools and technology
        available to bear in the world of agriculture.
      </div>
      <div class="abstract-statement">
        <p>
          Technology has had a profound impact on agriculture throughout human
          history. Irrigation techniques, motorized farm equipment, plant
          genetics, and GPS are examples of advancements that have allowed
          farmers to cultivate and manage increasingly larger amounts of land,
          and provide fresh produce for billions around the globe. Kaprella
          aims to be the collaborative platform for licensors, marketers, and
          producers in a complex global industry that serves billions around
          the globe.
        </p>
      </div>
      <div>
        <h2>Get started by viewing one of the resources below:</h2>
      </div>
      <div class="button-row resource-link-row">
        <a mat-stroked-button routerLink="farmers">Farmers</a>
        <a mat-stroked-button routerLink="licensors">Licensors</a>
        <a mat-stroked-button routerLink="fields">Fields</a>
        <a mat-stroked-button routerLink="plantVarieties">Plant Varieties</a>
      </div>
    </div>
  </div>
</div>
